/* custom styles */

.ui-page {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
}

.alignLeft {
	float: left;
	margin-right: 1em;
}

#homeCTA {
	margin-left: -7px;
}

#footTxt {
	text-align: center;
}
